/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Generales */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  /* Resetear los estilos por defecto */
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}
/* FIN GENERALES */


/* INICIO SESION */

.form_inicioSesion{
  /* display: none!important; */
  background-image: radial-gradient(circle at 13% 47%, rgba(140,140,140, 0.08) 0%, rgba(140,140,140, 0.08) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143,143,143, 0.09) 0%, rgba(143,143,143, 0.09) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65,65,65, 0.08) 0%, rgba(65,65,65, 0.08) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150,150,150, 0.06) 0%, rgba(150,150,150, 0.06) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25,25,25, 0.05) 0%, rgba(25,25,25, 0.05) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69,69,69, 0.09) 0%, rgba(69,69,69, 0.09) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  font-size: 3vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  flex-direction: column;
}

.ocultarRegistroModal{
  display: none!important;
}

.form_inicioSesion input{
  text-align: center;
  font-size: 2vw;
  width: 40vw;
  height: 7vh;
}

.form_inicioSesion button{
  font-size: 2vw;
  width: 20vw;
  height: 8vh;
}

.div-ver-clave{
  display: flex!important;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex!important;

}

.div-ver-clave span{
  display: flex!important;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
}

.div-ver-clave img{
margin: 0px;
padding: 5px;
}

.sinCuenta{
  margin-top: 6vw;
}

.modal_registro{
  justify-content: center;
  align-items: center;
  position: fixed!important;
  top: 5%!important;
  left: 15%!important;
  width: 70%!important;
  height: 70%!important;
  }

  .card-body{
    height: 90vh;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgba(9,201,186, 0.17),rgba(18,131,221, 0.14));  
  }

  
  .form_registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contraseña_registro{
  margin-top: 0vh;
  }

  .botones_registro{
    margin-top: 2vw;
  }

  .div_bt_ingresar_olvide{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .olvideClave:hover{
    -webkit-text-stroke: 2px #00000063;
    color: #000;
  }



@media screen and (max-width: 524px) {

  .modal_inicioSesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .modal_inicioSesion *{
    margin: 1.5vh;
  }


  .form_inicioSesion{
    font-size: 7vw;
  }

  .form_inicioSesion input{
    font-size: 5vw;
    width: 70vw;
    height: 5vh;
  }

  .form_inicioSesion button{
    font-size: 5vw;
    width: 40vw;
    height: 6vh;
  }

  .modal_registro{
    font-size: 5vw;
    justify-content: center;
    align-items: center;
    position: fixed!important;
    top: 5%!important;
    left: 8%!important;
    width: 85%!important;
    height: 70%!important;
    }

  .sinCuenta{
    margin-top: 10vh;
  }

  .form_registro label{
    margin-top: 2vh;
  }

  .form_registro input{
    font-size: 4.2vw;
    width: 60vw;
  }

  .botonesRegistro{
    margin-bottom: 4vh ;
  }

  .card-body {
    justify-content: center;
    height: 88vh;
  }

  .card-body *{
    gap: 5vh;
  }
}

/* FIN INICIO SESION */




/* INICIO NAVBAR */
.offcanvas-header{
  justify-content: right;
  gap: 1vw;
}

.offcanvas-header  h5{
  font-size: 1.5vw;
}

.nav-item{
  display: flex;
  gap: 1vw;
  font-size: 2vw;
}

.nav-item a{
  color: #000000;
}

.nav-item a:hover{
  -webkit-text-stroke: 2px #00000063;
  color: #000000;
}

.bordeParaNombre{
  -webkit-text-stroke: 1.5px #00000063;
  border: 1px black solid;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 0.1rem 1rem 0.1rem 1rem;
}

.guardar_red{
  -webkit-text-stroke: 0px #00000063;
  color: rgb(164, 0, 0)!important;
  font-weight: 700;
}

@media screen and (max-width: 524px) {
  .offcanvas-body {
    padding-left: 3vw;
  }
  
  .offcanvas-backdrop {
  width: 90vw;  
  }
  
  .offcanvas{
    max-width: 70%;
  }
  
  .offcanvas-header{
    gap: 2vw;
  }
  
  .offcanvas-header  h5{
    font-size: 4vw;
  }
  
  .nav-item{
    display: flex;
    gap: 2vw;
    font-size: 5vw;
  }
}
/* FIN NAVBAR */




/* MENÚ */
.menu {
  display: flex;
  justify-content: space-around;
  margin: 5vh 0rem 1rem 2rem;
  align-items: center;
}

.menu button {
  font-size: 2vw;
}

.menu_borroso{
  filter: blur(2px);
}

.botonMas_class {
  min-width: 5vw;
  width: auto;
  background-color: rgb(0, 255, 0, 0.6);
  display: flex;
  font-size: 3vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
}

.botonMas_class:hover {
  color: black;
  background-color: rgb(0, 255, 0) !important;
}

.boton_x {
  min-width: 5vw;
  width: auto;
  background-color: rgb(255, 0, 0, 0.6);
  display: flex;
  font-size: 3vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
}

.boton_x:hover {
  color: black;
  background-color: rgb(255, 0, 0) !important;
}

.btn-primary:hover {
  background-color: #a6c4f1;
}

.filtro{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filtro button:hover {
  -webkit-text-stroke: 2px #00000063;

}

.opcionElegidaDelMenu{
  -webkit-text-stroke: 2px #00000063;
  text-decoration: underline;
}

@media screen and (max-width: 524px) {
  .menu{
    margin: 3rem 0rem 1rem 1rem;
  }

  .menu button{
    font-size: 3.9vw;
  }

  .botonMas_class {
    min-width: 8vw;
    font-size: 5vw;
  }

  .boton_x {
    min-width: 8vw;
    font-size: 5vw;
  }
}
/* FIN MENÚ */




/* SECTION_FORMULARIO */

.section_formulario {
  height: 100vh;
  background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, rgba(28,28,28, 0.55),rgba(28,28,28, 0.55));  /* background-image: url('img/Fondo.jpg'); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: top;
  padding-top: 1vw;
  flex-direction: column;
  align-items: center;
}

.oculto {
  display: none;
}


.h2_nuevaTarea{
  font-size: 2.5vw;
  font-weight: 800;
  color: white;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.formulario label{
  font-size: 1.5vw;
  font-weight: 500;
  color: white;
}

.recuadros_formulario{
  padding: 1vw;
  font-size: 1vw;
  font-weight: 500;
  background-color: rgb(255, 255, 255, 0.5);
  width: 30vw;
  display: flex;
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.recuadros_formulario::placeholder{
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.632);
}

.recuadros_formulario_detalle{
    padding-bottom: 10vh;
    height: 15vh;
    max-width: 30vw;
    text-wrap: wrap;
    overflow-wrap: break-word;
    white-space: wrap; /* Evita el salto de línea */
}

.boton_agregarTarea{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 2.5vw;
  width: 25vw;
  margin-top: 2vh;
  background-color: rgba(0, 128, 0, 0.475);
}

.boton_agregarTarea:hover{
background-color: green;
}

@media screen and (max-width: 524px) {
  .h2_nuevaTarea{
    -webkit-text-stroke: white;
    font-size: 7vw;
    padding-top: 5vh;
  }

  .formulario label{
    font-size: 5vw;
  }

  .formulario input{
    font-size: 4vw;
  }

  .recuadros_formulario{
    font-size: 3vw;
    height: 4vh;
    width: 45vw;
    align-items: center;
    text-align: center;
  }

  .recuadros_formulario_detalle{
    padding-bottom: 10vh;
    height: 15vh;
    max-width: 45vw;
    width: 45vw;
}

  .boton_agregarTarea{
    font-weight: 500;
    font-size: 5vw;
    width: 40vw;
    margin-top: 3vh;
  }

  .recuadros_formulario::placeholder{
    font-size: 3vw;
    align-items: center;
    text-align: center;
  }

}
/* FIN SECTION_FORMULARIO */




/* SECTION CARDS */
.divDeSecciones section{
  display: flex;
  flex-direction: column;
  max-width: 99%;
}


.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 1rem 0rem 1rem 0.5rem;
  background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgba(83,91,235, 0.35),rgba(76, 11, 174, 0.884));  max-width: 99%;
  box-sizing: border-box;
  min-height: 25vh;
}

.cards *{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.botonesCards{
  color: #000000;
  font-size: 1.5vw;
  border: solid 1px rgba(0, 0, 0, 0.499);
  width: auto;
  margin: 0 10px 0 20px;
  background-color: white;
  border-radius: 8px;
}

.botonesCards:hover {
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.441);
  -webkit-text-stroke: 1px #00000063;
}


.cards p, h3{
  color: #000000;
  text-align: center;
  margin-left: 2rem;
}

.cards p{
  font-size: 1.5vw;
}

.p_detalle {
  overflow-wrap: anywhere;
  white-space: wrap;
  margin-top: 15px;
  max-width: 85vw;
  text-wrap: wrap;
}

.cards h3{ 
  overflow-wrap: anywhere;
  white-space: wrap;
  white-space: pre-line;
  min-width: 11%;
  max-width: 30%;
  font-size: 2.5vw;
}


.fondo_input_editable{
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.section_finalizadas div{
  /* background-color: rgba(0, 188, 0, 0.606); */
  background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgba(100,235,83, 0.35),rgb(13,174,11));
}

.section_canceladas div{
  /* background-color: rgba(255, 0, 0, 0.818); */
  background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgba(235,83,83, 0.35),rgb(174,11,11));
}

.div-urgencia-baja{
  background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgba(83,91,235, 0.35),rgba(76, 11, 174, 0.315));  max-width: 99%;
}

.borde_urgencia{
  background-color: rgba(255, 0, 0, 0.702);
  border: 2px rgb(255, 0, 0) solid;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.9);
}


@media screen and (max-width: 524px) {
  /* .cards{
  background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgba(83,91,235, 0.35),rgba(76, 11, 174,0.75));  max-width: 99%;
  } */

  .cards p, h3{
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
    margin: 0.3rem;
    border-radius:10px;
  }

  .p_detalle{
    max-width: 10vw;
  }

  .botonesCards {
    font-weight: 600;
    font-size: 2vw;
    margin: 0;
    margin: 0px 5px 0 2px;
  }

  .cards{
    min-height: 10vh;
  }
}
/* FIN SECTION_CARDS*/




/* MODAL CARGANDO */
.modal_carga {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  font-size: 4vw;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
/* FIN MODAL CARGANDO */


/* MODAL DE CARDS GRANDE */
.modal{
  --bs-modal-width:90vw!important;
}

.modalCardContenedor{
  background-image: radial-gradient(circle at 69% 86%, rgba(165,165,165, 0.07) 0%, rgba(165,165,165, 0.07) 25%,rgba(193, 193, 193,0.06) 25%, rgba(193, 193, 193,0.06) 50%,rgba(221,221,221, 0.1) 50%, rgba(221,221,221, 0.1) 75%,rgba(249, 249, 249,0.06) 75%, rgba(249, 249, 249,0.06) 100%),radial-gradient(circle at 49% 76%, rgba(129, 129, 129,0.06) 0%, rgba(129, 129, 129,0.06) 25%,rgba(164,164,164, 0.07) 25%, rgba(164,164,164, 0.07) 50%,rgba(200, 200, 200,0.06) 50%, rgba(200, 200, 200,0.06) 75%,rgba(235, 235, 235,0.06) 75%, rgba(235, 235, 235,0.06) 100%),radial-gradient(circle at 22% 64%, rgba(173,173,173, 0.09) 0%, rgba(173,173,173, 0.09) 25%,rgba(119,119,119, 0.06) 25%, rgba(119,119,119, 0.06) 50%,rgba(64,64,64, 0.04) 50%, rgba(64,64,64, 0.04) 75%,rgba(10,10,10, 0.06) 75%, rgba(10,10,10, 0.06) 100%),linear-gradient(307deg, rgb(255,255,255),rgb(255,255,255));  height: 95vh;
}

.cardEnModal_Class{
  height: 95vh!important;
  height: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards_modal{
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  flex-direction: column;
  height: 70vh;
  width: 85vw;
}


.modal-footer{
  justify-content: space-evenly;
}

.botonesCards_modal{
  color: #000000;
  font-size: 2.5vw;
  border: solid 1px rgba(0, 0, 0, 0.499);
  width: auto;
  margin: 0 10px 0 20px;
  background-color: white;
  border-radius: 8px;
}

.botonesCards_modal:hover {
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.441);
  -webkit-text-stroke: 1px #00000063;
}

.h3_modal{
  font-size: 3.5vw;
}

.detalle_modal{
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  width: 85vw;
  text-wrap: wrap;
  overflow-wrap: break-word; 
}

.div_modales{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div_modales strong{
  font-size: 2vw;
  margin-right:2vw ;
}

.div_modales p{
  margin-top: 1vw;
  font-size: 1.7vw;
}

.ocultarModal{
  display: none!important;
  opacity: 0!important;
}

.boton-guardar{
  border: solid 1px red;
  color: rgb(115, 0, 0);
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.329);
}



@media screen and (max-width: 524px) {

  .modalCardContenedor{
    margin-top: 10vw;
    height: 85vh;
  }

  .h3_modal{
    font-size: 7vw;
  }
  
  .detalle_modal{
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    width: 85vw;
  }
  
  .div_modales{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .div_modales strong{
    font-size: 3.6vw;
    margin-right:2vw ;
  }
  
  .div_modales p{
    margin-top: 2vw;
    font-size: 3vw;
  }
  
  .botonesCards_modal{
    color: #000000;
    font-size: 4vw;
    border: solid 1px rgba(0, 0, 0, 0.499);
    width: auto;
    margin: 0 1px 0 3px;
    background-color: white;
    border-radius: 5px;
  }
}






/* SWEET ALERT */
/* INICIO RECUPERO CONRTRASEÑA */
.sweetAlert-recupero-div{
display: flex!important;
flex-direction: column!important;
justify-content: center!important;
text-align: center!important;
align-items: center!important;
}

.sweetAlert-recupero-input{
  text-align: center!important;
  font-size: 2vw!important;
  color: #000000!important;
  width: 85%!important;
  height: 9vh!important;
}

.sweetAlert-recupero-input-value{
font-size: 10vw!important;
}

.sweetAlert-recupero-divdiv{
  width: 60%!important;
  height: auto!important;
}

.swal2-input-label{
  color: #000000!important;
  font-size: 1.5vw!important;
}

.sweetAlert-recupero-boton{
  display: flex!important;
  justify-content: center!important;
  text-align: center!important;
  align-items: center!important;
  font-size: 1.2vw!important;
  height: 5vh!important;
  min-width: 10vw!important;
}


@media screen and (max-width: 524px) {
  .sweetAlert-recupero-input{
    align-self: center!important;
    align-items: center!important;
    font-size: 6vw!important;
    width:85%!important;
    min-height: 4vh!important;
    max-height: 5vh!important;
    margin: 2rem!important;
  }
  
  .swal2-modal{
    align-self: center!important;
    align-items: center!important;
    width: 95%!important;
    height: auto!important;
  }
  
  .swal2-input-label{
    text-align: center!important;
    font-size: 3vw!important;
  }
  .sweetAlert-recupero-input-placeholder{
    font-size: 2.5vw!important;
  }
  
  .sweetAlert-recupero-boton{
    font-size: 4vw!important;
    height: 5vh!important;
    min-width: 20vw!important;
  }
}
/* FINRECUPERO CONRTRASEÑA */



/* INICIO BIENVENIDA */


.cartel-bienvenida-popup{
  width: 30%!important;
}

@media screen and (max-width: 524px) {
  .cartel-bienvenida-popup{
    width: 50%!important;
  }
}
/* FIN BIENVENIDA */
/* FIN SWEET ALERT */


