.seccion-cards-notas-rapidas{
    margin: 1vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 45vh;
    background-image: repeating-linear-gradient(90deg, rgba(201,201,201, 0.91) 0px, rgba(201,201,201, 0.91) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, rgba(201,201,201, 0.91) 0px, rgba(201,201,201, 0.91) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, rgba(201,201,201, 0.43) 0px, rgba(201,201,201, 0.43) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, rgba(201,201,201, 0.43) 0px, rgba(201,201,201, 0.43) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgba(255,255,255, 0),rgba(255,255,255, 0));
    box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
}



.h1-card-notas-rapidas{
    background-color: rgba(137, 43, 226, 0.088);
    border-radius: 8px;
    text-align: center;
    margin-top: -15vh;
    font-size: 2vw;
}


.p-card-detalle-nota-rapida{
    background-color: rgba(137, 43, 226, 0.088);
    border-radius: 8px;
    font-size: 1vw;
    display: flex;
    text-align: center;
    margin: 0 1rem 0 1rem;
}


.divs-cards-notas-rapidas{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2vw;
}

.btn-editar-nota-rapida{
    padding: 0.5vw;
    font-size: 1vw;
    background-color: rgba(0, 128, 0, 0.397);
    border-radius: 8px;
}

.btn-editar-nota-rapida:hover{
    background-color: rgba(0, 128, 0, 0.489);
    text-shadow: 1px 1px 5px black;
}

.btn-eliminar-nota-rapida{
    padding: 0.5vw;
    font-size: 1vw;
    background-color: rgba(255, 0, 0, 0.368);
    border-radius: 8px;
}

.btn-eliminar-nota-rapida:hover{
    background-color: rgba(255, 0, 0, 0.492);
    text-shadow: 1px 1px 5px black;
}

.btn-eliminar-editar-notas-rapidas{
    gap: 1vw;
    display: flex;
    flex-direction: row;
}















   /* MEDIA QUERYS */
   @media screen and (max-width: 524px) {

    .img-add-nota-rapida{
        width: 12vw;
    }

    .seccion-notas-rapidas{
        margin: auto;
        margin-top: 6vh;
        align-items: center;
        width: 65%;
    }

    .h1-notas-rapidas{
        font-size: 6vw;
        margin-top: -8vh;
    }

    .img-gancho-nota-rapida{
        position: relative;
        width: 8vw;
    }

    .input-titulo-notas-rapidas{
        font-size: 4vw;
        width: 60vw;
    }
    
    .input-detalle-notas-rapidas{
        font-size: 3.5vw;
        width: 60vw;
    }

    .divs-notas-rapidas{
        font-size: 4.2vw;
    }

    .btn-guardar-nota-rapida{
        padding: 1vw;
        font-size: 4vw;
    }

    .btn-cancelar-nota-rapida{
        padding: 1vw;
        font-size: 4vw;
    }
    
   }