.menu-secciones{
    font-size: 1vw;
    margin-left: 2rem;
    color: black;
    background-color: white;
}

.li-secciones:hover{
    -webkit-text-stroke: 2px #00000063;
    background-color: rgba(0, 0, 0, 0.13);
}


.dropdown-menu[data-bs-popper]{
    font-size: 2vw;
    margin-left: 20%;
}