/* INICIO MODAL DE NOTIFICACIONES */
.modalDeNotificacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 1vw;
    position: absolute; 
    border-radius: 10px;
    top: 25%; 
    right: 25%; 
    width: 50%; 
    min-height: 20%; 
    height: auto;
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);    
    color: white;
    padding: 10px;
}

.h1-modal-notificaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    border:none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin: 0;
}

.botones-modal-notificacion{
    display: flex;
    gap: 8vw;
    align-items: end;
    min-height: 2vw;
    justify-content: space-around;
    margin-bottom: 1vh;
}

.botones-modal-notificacion button{
    background-color: white;
    border-radius: 1vw;
    font-size: 1.5vw;
    display: flex;
    height: auto;
    min-height: 6vh;
    width: auto;
    min-width: 8vw;
    justify-content: center;
    align-items: center;
}

.botones-modal-notificacion button:hover {
    background-color: rgba(255, 255, 255, 0.356);
}

.modal-hijo-con-notificaciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    margin: 2vh 2vw 2vh 2vw;
}

.modal-hijo-con-notificaciones * {
    display: flex;
    font-size: 1.5vw;
    color: black;
    margin: 0;
}

.modal-hijo-con-notificaciones button{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.modal-hijo-con-notificaciones button:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color:red;
}






/* INICIO CALENDARIO */
.input-group-append {
    cursor: pointer;
  }

  .container{
    display: flex;
    justify-content: start;
    border-radius: 8px;
    border:none;
    padding: 1vw;
    font-weight: 500;
    width: 30vw;
    text-align: center;
    }

    .div-de-divs-horarios{
      display: flex;
    }

  .col-5{
      width: 12vw;
  }
  
  
  .form-control{
    text-align: center;
    font-size: 1vw;
  }

  .fa-calendar {
    font-size: 2vw;
  }

  .btn-notificacion button img{
    width: 3vw;
    border-radius: 50%;
  }

  .icono-aceptar{
    margin-right: 3vw;
    background-color: rgba(0, 194, 0, 0.2);
  }

  .icono-aceptar:hover{
    background-color: rgb(0, 194, 0, 0.6);
    
  }

  .icono-aceptar:active{
    background-color: rgb(0, 194, 0);
  }

  .icono-cancelar{
    background-color: rgba(255, 0, 0, 0.3);
  }

  .icono-cancelar:hover{
    background-color: rgba(255, 0, 0, 0.6);
  }

  .icono-cancelar:active{
    background-color: rgb(255, 0, 0);
  }

  .icono-calendar-block{
    --bs-bg-opacity: 0.2;
  }
  
  
  .datepicker {
    font-size: 1vw; /* Ajusta el tamaño de la fuente */
  }
  
  .datepicker table {
    width: 100%; /* Ajusta el ancho del calendario */
  }
  
  
  .datepicker table tbody tr td {
    width: 3vw; /* Ajusta el ancho de las celdas */
    height: 3vw; /* Ajusta la altura de las celdas */
    font-size: 1vw; /* Ajusta el tamaño de la fuente de las celdas */
  }



  .div-de-checkbox{
    display: flex;
    align-items: center;
  }

  .div-de-checkbox input{
    margin-left: 1vw;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%!important;
    cursor: pointer; 
    background-color: white;
    }

  .div-de-checkbox label{
    font-size: 1vw;
    
  }

  .form-control:disabled{
    opacity: 0.2;
  }

  /* FIN CALENDARIO */





  



/* INICIO MEDIA QUERYS */
@media screen and (max-width: 524px) {
        .modalDeNotificacion{
            top: 25%; 
            right: 10%; 
            width: 80%; 
            min-height: 30%; 
            height: auto;
            padding: 10px;
        }

        .h1-modal-notificaciones{
            font-size: 5vw;
            margin-bottom: 0;
        }

        .botones-modal-notificacion{
            display: flex;
            min-height: 10vw;
            margin-bottom: 0;
        }

        .botones-modal-notificacion button{
            display: flex;
            font-size: 3vw;
            height: auto;
            min-height: 4vh;
            width: auto;
            min-width: 15vw;
        }

        .modal-hijo-con-notificaciones{
            width: 75vw;
            margin: 2vh 2vw 2vh 2vw;
        }

        .modal-hijo-con-notificaciones * {
            font-size: 4vw;
            color: black;
            margin: 0;
        }
}

/* FINAL MEDIA QUERYS */

/* FINAL MODAL NOTIFICACIONES */
