.input-recupero-clave {
  text-align: center;
  min-height: 6vh;
}

.input-recupero-clave {
  text-align: center;
}

@media screen and (max-width: 524px) {
  .ventana-recupero-clave {
    width: 95% !important;
  }
}